<h1>Listing leagues</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Promotions</th>
    <th>Group max</th>
  </tr>

<% @leagues.each do |league| %>
  <tr>
    <td><%=h league.name %></td>
    <td><%=h league.promotions %></td>
    <td><%=h league.group_max %></td>
    <td><%= link_to 'Show', league %></td>
    <td><%= link_to 'Edit', edit_admin_league_path(league) %></td>
    <td><%= link_to 'Destroy', league, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New league', new_admin_league_path %>