<p>
  <b>Name:</b>
  <%=h @league.name %>
</p>

<p>
  <b>Promotions:</b>
  <%=h @league.promotions %>
</p>

<p>
  <b>Group max:</b>
  <%=h @league.group_max %>
</p>

<%= link_to 'Edit', edit_admin_league_path(@league) %> |
<%= link_to 'Back', admin_leagues_path %>